

<div id="toast-container-custom" class="toast-container-top">
    <!-- Toasts will be injected here by JS -->
</div>

<template id="toast-template">
    <div class="toast-custom slide-in-top">
        <div class="toast-icon">
            <i class="lni"></i>
        </div>
        <div class="toast-content">
            <h4 class="toast-title"></h4>
            <p class="toast-message"></p>
        </div>
        <button class="toast-close">&times;</button>
        <div class="toast-progress"></div>
    </div>
</template>
